package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>THSTAR</title>
			<!-- tailwind css -->
			<link href="/public/styles.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
			<!-- htmx -->
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</body>
	</html>
}
